* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #4d4c81;
  color: #f0f8ff;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.container-first,
.container-second,
.container-third {
  background-color: #1b1a5e;
  width: 400px;
  height: 680px;
  padding: 20px;
  border-radius: 3%;
}

.container-first h1 {
  padding-top: 10px;
}

.container-first p {
  margin: 15px;
}

.container-first img {
  width: 300px;
  margin: 75px 0px;
}
.container-first #start {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #42e5ed;
  display: block;
  cursor: pointer;
}

.container-first #start:hover {
  background-color: #2b9aa0;
}

.pontuacao1,
.pontuacao2 {
  width: 120px;
  height: 60px;
  padding: 20px;
  margin: 20px;
}

.pontuacao1 {
  background-color: #008000;
}

.pontuacao2 {
  background-color: red;
}

@media (max-width: 590px) {
  .container {
    display: block;
  }
  .content-poits {
    display: flex;
    justify-content: center;
  }
  .container-first,
  .container-second,
  .container-third {
    width: 85%;
    margin: 32px;
  }
}
